.aside{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.contenedor{
  width: 100%;
  grid-column: 1 / 3 ;
  grid-row: 1 / 2;
}
.cart-aside{
  width: 90%;
  background: #777;
  height: 100%;
  grid-column: 3 / 3;
  grid-row: span 2;
  border-radius: 20px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  padding-top: 0.9375em; /* 15/16 */
}
.envio{
  text-align: left;
  margin-left: 1.25em; /* 20/16 */
  font-size: 1.125em; /* 18/16 */
}
.selector{
  margin-left: 2.5em; /* 40/16 */
}
.Presentacion{
  padding-top: 5%;
}
.custom-control-label{
  font-size: 1em; /* 16/16 */
}
.imgCarrito{
  float: right;
  height: 12.5em; /* 200/16 */
  width: 25em; /* 400/16 */
  object-fit: cover;
}
.productos{
  height: 7.5em; /* 120/16 */
  width: 10.625em; /* 170/16 */
}
.productName{
  margin-left: 4%;
}
.cantidad{
  width: 3.75em; /* 60/16 */
  margin-left: 20%;
  margin-top: 35%;
}
td:nth-child(3), td:nth-child(4){
  padding-top: 5%;
  font-family: 'Poppins', sans-serif;
  font-size: 1em; /* 16/16 */
}
.hr1{
  background: #000;
  width: 90%;
}
.hr2{
  margin-left: 0.5em; /* 8/16 */
  background: #000;
  width: 93%;
}
.direccion input{
  display: block;
  margin-left: 0.625em; /* 10/16 */
  font-size: 0.9375em; /* 15/16 */
  border: none;
  border-radius: 0.1875em; /* 3/16 */
  outline: none;
  padding: 0.4375em; /* 7/16 */
}
.direccion::placeholder{
  font-size: 0.9375em; /* 15/16 */
  color: #000;
}
select{
  border: none;
  outline: none;
  border-radius: 5px;
}
.Modal{
  margin-top: 0.3125em; /* 5/16 */
  margin-left: 0.625em; /* 10/16 */
}
.Modal button{
  background: #e74;
  border: none;
  padding: 10px 15px;
}
