.ajuste{
  color: #fff;
}
.puntuacion{
  display: inline-block;
}
.r{
  font-size: 28px;
  color: red;
}
.n{
  font-size: 28px;
  color: orange;
}
.a{
  font-size: 28px;
  color: #F9DB5F;
}
.s{
  font-size: 28px;
  color: skyblue;
}
.v{
  font-size: 28px;
  color: green;

}
.far{
  font-size: 28px;
}
.desaparecer{
  display: none;
}
.puntuacion label {
color: #c1b8b8;
font-size: 30px;
float: right;
}

.puntuacion label:hover,
.puntuacion label:hover ~ label,
.puntuacion input:checked ~ label {
  color: #f48c06;
}

.dropdown-menu{
  width: 12.06em; /* 225/16 */
}
.desplegable{
  padding: 10px;
}
.desplegable:hover{
  background: #48d
}
.cerrar{
  outline: none;
  border: none;
  width: 100%;
  margin-top: 5px;
  padding: 7.5px;
  text-align: left;
  padding-left: 15px;
}
.cerrar:hover{
  outline: none;
  border: none;
  background: #48d
}
.fa-sign-out-alt{
  color: #000;
  font-size: 20px;
  margin-top: 5px;
  padding-right: 5px;
}
.epa{
  color: #48d;
}
